div.image-container {
    width: auto;
    height: auto;
    max-height: 600px;
    max-width: 600px;
    position: relative;
}

img.img-detect {
    width: auto;
    height: auto;
    max-height: 600px;
    max-width: 600px;

    box-shadow: 5px 5px 5px 0px #00000060;
    border-radius: 20px;
}

div.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}